
@font-face {
    font-family: neon;
    src: url("Roboto-Regular.ttf");
  }

.questionboxxx{

    margin: 10% auto;
    margin-bottom: 5%;
    padding: 20px;
    text-align: center;
    border-radius: 15px;
    background-color: rgb(105,29,57,0.8);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
/* min-height: 75%; */
    /* height: 50vh; */
    width: 75%;
    word-wrap: break-word;
    color: #fff;

}

::placeholder{
    font-family: neon;
}
.content{
    width: 70% !important;
}
.answer_box{
    width: 60%;
    text-align: center;
    background-color:rgb(105,29,57,0.8) ;
    border-radius: 15px;
    margin: 10px auto;
}

.answer_box input{
    background-color: transparent;
    border: none;
    outline: none;
    padding: 10px;
    color:#fff;
    /* font-family: neon; */
}

.click{
    text-align: center;
    padding: 10px;
}

.click input{
    padding: 10px;
    background-color: #fff;
    color:red;
    border: none;
    border-radius: 10px;
    font-family: neon;
}

.currentpos{

    width: 70%;
    text-align: center;
    background-color: rgb(105,29,57,0.8);
    margin: 10px auto;
    padding: 20px;
    border-radius: 15px;
    color: #fff;
}

@media screen and (min-width:700px){
    .currentpos{
        width: 50%;
    }
}


@media screen and (min-width:600px){

    .questionboxxx{
        width: 50%;
        padding-top: 50px;
        padding-bottom: 50px;
        margin:10% auto;
        margin-bottom:10px;

    }

    .answer_box{
        width: 30%;
    }



}

